@import url('https://fonts.cdnfonts.com/css/montalban');
@import url('https://fonts.cdnfonts.com/css/simple-runes');
@import url('https://fonts.cdnfonts.com/css/helvetica-now-mt-micro');
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url(background.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
*{
    padding: 0 0;
    margin: 0 0;
}
.header{
    justify-content: space-between;
    display: flex;
    margin-left: 30vh;
    margin-right: 30vh;
padding-top: 15px;
padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    border: solid rgba(255, 255, 255, 0.08 );
    border-radius: 20px;

    
}
.header ul{ 
    display: flex;
    list-style-type: none;
    gap: 40px;  
      font-family: 'Montalban', sans-serif;
   
}
.header ul li{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.header span{
    display: flex;
    align-items: center;
    margin-left: 20px ;
    font-family: 'Simple Runes', sans-serif;
    color: white;
}
.header ul li a{
    text-decoration: none;

    color: rgb(255, 255, 255);
    display: flex;
   
}
.header ul li a:active{
    color: rgba(255, 0, 0, 0.61);
    border-bottom: solid 1px rgba(255, 255, 255, 0.466);
}
.header button a{
    font-family: 'Montalban', sans-serif;
    text-decoration: none;
    color: black    ;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: center;
 

}

.header button{
height: 35px;
width: 13vh;
margin-right: 4vh;
border-radius: 20px;
 backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.651);
border: none;
}
.header button:active{
background-color: rgba(255, 255, 255, 0.349);
border-bottom: .5px solid red;
}
.section1{
    margin-top: 30px;
    align-items: center;
    display: flex;
    margin-left: 5vh;
}
.bodysub1 {
 backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 13px;
padding-left: 14px;
padding-right: 30vh;
margin-left: 15px;
padding-bottom: 25px;
border: solid 1px rgba(255, 255, 255, 0.08 ) ;
transition-duration: 0.4s;

}
.bodysub1:hover{
 transform: scale(1.03);
  border: #39ff14 solid 0.02px;
    box-shadow: #16ffec 2px 2px 15px;
}
.p1{
    justify-content: center;
    display: flex;
    width: 29vh;
    border-radius: 20px;
 backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.08);
 margin-top: 24px;
 margin-bottom: 12px;
 margin-left: 23px;
 font-family: 'Helvetica Now MT Disp', sans-serif;
color: rgb(14, 204, 14);
}
.p2{
    font-size: 15vh;
}
.p2{
color: white;
}
.p3{
    color: rgba(255, 255, 255, 0.616);
    font-family: sans-serif;
    font-size: 20px;
}
.p2 span{
    font-style: italic;
    
}
.bodysub2:hover{
 transform: scale(1.03);
   border: #39ff14 solid 0.02px;
    box-shadow: #16ffec 2px 2px 15px;
}
.bodysub2{
    border-radius: 13px;
     backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.08);
 padding-left: 133px ;
 padding-right: 90px ;
 border: solid 1px rgba(255, 255, 255, 0.08 ) ;

    margin-left: 2vh;
    display: flex;

    flex-direction: column; 
    align-items: center;
  transition: 0.4s;
}
.bodysub2 img{
display: flex;
margin-top: 3vh;
box-shadow: 5px 5px 10px rgba(20, 141, 9, 0.5);
    height: 20vh;
    width: 20vh;
    border-radius: 100vh;
}
.bodysub2 p{
    font-weight: bold;
     font-family: sans-serif;
color: rgb(10, 187, 10);
font-style: italic;


    }
.bodysub2 span{
 font-family: 'Helvetica Now MT Disp', sans-serif;
margin-top: 15px;
margin-bottom: 2px;

}

.icon1{
    margin-top: 40px ;
    display: flex;
    gap: 24px;
  font-size: 50px;
 margin-bottom: 8vh;
 
}
#icon11{
       backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.015); 
  border: solid 1px rgba(255, 255, 255, 0.08 ) ;
padding: 5px 3px;
 border-radius: 100vh ;
}
 #icon22{
          backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.015); 
  border: solid 1px rgba(255, 255, 255, 0.08 ) ;
padding: 5px 3px;
 border-radius: 100vh ;
 }
.icon1 :active{
    cursor: pointer;
color: rgba(255, 0, 0, 0.384);
}
.main2{
    display: flex;
    margin-left: 5vh;
}
.bodysub3:hover{
 transform: scale(1.03);
  border: #39ff14 solid 0.02px;
    box-shadow: #16ffec 2px 2px 15px;
}
.bodysub3{
        backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.08); 
 display: flex;
flex-direction: column;
font-family: 'Helvetica Now MT Disp', sans-serif;
width: 45vh;
margin-top: 2vh;
border-radius: 15px ;
    border: solid 1px rgba(255, 255, 255, 0.08 ) ;  
margin-left: 2vh ;
transition: 0.4s;
}
.bodysub3 h1{
    display: flex;
    justify-content: center;
    font-size: 8vh;
    color: white;
  
}
.bodysub3 p{
    display: flex;
    justify-content: center;
    font-style: italic;
}
.bodysub4{
            backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.08); 
 display: flex;
flex-direction: column;
font-family: 'Helvetica Now MT Disp', sans-serif;
width: 45vh;
margin-top: 2vh;
border-radius: 15px ;
    border: solid 1px rgba(255, 255, 255, 0.08 ) ;  
margin-left: 2vh ;
transition: 0.4s;
}
.bodysub4:hover{
 transform: scale(1.03);
  border: #39ff14 solid 0.02px;
    box-shadow: #16ffec 2px 2px 15px;
}
.bodysub4 h1{
    display: flex;
    justify-content: center;
    font-size: 8vh;
    color: white;
  
}
.bodysub4 p{
    display: flex;
    justify-content: center;
    font-style: italic;

}
.bodysub5 h1{
 display: flex;
 
 color: white;
  margin-bottom: px;
}
.bodysub5 p{

    font-style: italic;
    display: flex;


}
.bodysub5:hover{
 transform: scale(1.03);
  border: #39ff14 solid 0.02px;
    box-shadow: #16ffec 2px 2px 15px;
}
.bodysub5{
transition: 0.4s;
backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.08); 
     border: solid 1px rgba(255, 255, 255, 0.08 ) ;  
 display: flex;
flex-direction: column;
font-family: 'Helvetica Now MT Disp', sans-serif;
width: 93vh;
margin-top: 2vh;
border-radius: 15px ;

margin-left: 2vh ;
position: relative;
justify-content: space-around;
padding-left: 3vh ;

}
.minilogo1{

    font-size: 30px;
    position: absolute;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 600px;
}
#mini11{
      backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.015); 
  border: solid 1px rgba(255, 255, 255, 0.08 ) ;
padding: 5px 3px;
 border-radius: 2vh ;
 position: absolute;
}
#mini22{
      backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.015); 
  border: solid 1px rgba(255, 255, 255, 0.08 ) ;
padding: 5px 3px;
 border-radius: 2vh ;
 margin-left: 35px;
}
.mainsection3{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 4vh;
    font-family: 'Helvetica Now MT Disp', sans-serif;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 3vh;

}
.section3{
    display: flex;
    justify-content: space-between;
 margin-left: 4vh;
    position: relative;
    margin-right: 7vh;
}
.body3-1{
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    backdrop-filter: blur(5px);
 background-color: rgba(255, 255, 255, 0.08); 
    border: solid 1px rgba(255, 255, 255, 0.08 ) ;
    height: 40vh;
    
    width: 40vh;
    border-radius: 20px ;
    padding: 30px 30px ;
   transition: 0.3s;
    

}
.body3-1:hover{
    transform: scale(1.03);
    border: #39ff14 solid 0.02px;
    box-shadow: #39ff14 5px 5px 20px;
}
.body3-1 p{
    font-weight: bold;
    color: white;
    font-size: 4vh;
    font-family: sans-serif;
    margin-top: 2px;
   
}
.body3-1 h1{
    font-size: 8vh;
    color: white;
      margin-top: 2px;
 font-style: italic;
 
}

.body3-1 ul li{
  margin-top: 2px;
 font-family: 'Helvetica Now MT Disp', sans-serif;
 font-size: 3vh;
    list-style: none;
    font-style: italic;
  
}
.body3-1 button{
 
   width: 35vh;
     margin-top: 20px;
     height: 5vh;
     border-radius: 15px;
     border: none;
     cursor: pointer;
         background-color: rgba(255, 255, 255, 0.015); 
    border: solid 1px rgba(255, 255, 255, 0.08 ) ;
       font-family: 'Montalban', sans-serif;
       transition: 0.1s;
      margin-left: 10px;
}
.body3-1 i{
    font-style: italic;
 color: grey;
 font-size: 15px;
 margin-right: 10px;
}
.body3-1 span{
    color: rgba(128, 128, 128, 0.082);
    font-size: 22px;
}
.body3-1 button:active{
    background-color:#39ff14;
    transform: scale(1.08);
     
}

.section4{

      backdrop-filter: blur(2px);
 background-color: rgba(255, 255, 255, 0.082); 
  border: solid 1px rgba(255, 255, 255, 0.08 ) ;
  height: 60vh;
 display: flex;
 justify-content: space-between;
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 8vh;
  padding-left: 5vh;
  border-radius: 20px;
  padding-top: 40px;
 transition: 0.4s;
}
.section4:hover{
    transform: scale(1.01);
      border: #39ff14 solid 0.02px;
    box-shadow: #39ff14 2px 2px 15px;
}
.section4 i :hover{
    color: red;
}
.body4-1 h1{
    color: white;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 8vh;
}
.minisub4-1{
    color: rgba(201, 194, 194, 0.562);
    font-size: 2.3vh;
}
.section4 i{
    position: absolute;
}
.minisub4-2{
    color: white;
       font-family: 'Montalban', sans-serif;
       margin-top: 80px;
     font-size: 3vh;
    margin-left: 10vh;
}

#bodysub1{
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.0082); 
    border: solid 1px rgba(255, 255, 255, 0.08 ) ;
    position: absolute;
    width: 50px;
    padding-bottom: 10px;
    padding-left: 5px ;
    padding-right:  5px;
    padding-top:  10px;
    border-radius:3vh;
    font-size: 3.5vh;
    color: #2fff0a;
    margin-top: 9vh;
    margin-left: 1vh;

}

#bodysub2{
      backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.0082); 
    border: solid 1px rgba(255, 255, 255, 0.08 ) ;
    position: absolute;
    width: 50px;
    padding-bottom: 10px;
    padding-left: 5px ;
    padding-right:  5px;
    padding-top:  10px;
    border-radius:3vh;
    font-size: 3.5vh;
    color: #2fff0a;
    margin-top: 9vh;
    margin-left: 1vh;
}
.section4 a{
 text-decoration: none;
}
.body4-2{
    margin-right: 6vh;
   
}
.minisub4-1 input{
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.08); 
    border: solid 1px rgba(255, 255, 255, 0.08 );
    height: 7vh;
    width: 35vh;
    border-radius: 20px;
    position: relative;
   justify-content: space-between;
   
}

.minisub4-3{
    display: flex;
    flex-direction: column;
 
}

.minisub4-3 select{
    margin-top: 2vh;
    height: 8vh;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.08); 
    border: solid 1px rgba(255, 255, 255, 0.08 );
    font-family: 'Helvetica Now MT Disp', sans-serif;
    padding-left: 20px;
    font-size: 15px;
    margin-bottom: 2vh;
    color: white;
}
.minisub4-3 option{
    color: black;
}
.sub4-1{
    height: 25vh;
      background-color: rgba(255, 255, 255, 0.08); 
    border: solid 1px rgba(255, 255, 255, 0.08 );
    border-radius: 20px;
}
.minisub4-1 input::placeholder{
    color: white;
     font-family: 'Helvetica Now MT Disp', sans-serif;  
     padding-left: 20px;
}
.minisub4-3 input::placeholder{
    color: white;
    font-family: 'Helvetica Now MT Disp', sans-serif; 
    font-size: 3vh;   
}
.body4-2 button{
    height: 8vh;
    margin-top: 4vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255); 
    border: solid 1px rgba(255, 255, 255, 0.08 );
    font-family: 'Helvetica Now MT Disp', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2vh; 
    transition: 0.3s;
}

.body4-2 button:active{
    cursor: pointer;
      background-color: rgba(255, 255, 255, 0.08); 
    border: solid 1px rgba(255, 255, 255, 0.08 );
    transform: scale(1.01);   
}
.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh ;
          background-color: rgba(255, 255, 255, 0.08); 
    border: solid 1px rgba(255, 255, 255, 0.08 );
    width: 185vh;
    padding-bottom: 5vh;
    border-radius: 20px;
    padding-top: 3vh;
    transition: 0.3s;
    margin-bottom: 10vh;
}
.section5:hover{
    transform: scale(1.02);
     border: #39ff14 solid 0.02px;
    box-shadow: #39ff14 2px 2px 15px;
}
.section5 iframe{
    width: 180vh;
    height: 60vh;
}
.mainsection5{
    display: flex;
    justify-content: center;

}
